{% extends 'main_app/base.html' %}
{% block content %}

  <div style="margin-bottom:300px;">
      {% if user.is_authenticated and hospital_made is False %}
        <h2 class="my-3 text-center">Register Your Hospital</h2>

        <form method="POST" class="cool-form">
            {%csrf_token%}
            {{hospital_form.as_p}}
            {{datecase_form.as_p}}
            <button type="submit" name="button">Submit Hospital</button>
        </form>
      {% else %}
          <h5 class="my-3 text-center">You have already registered your Hospital</h5>
      {% endif %}
  </div>

{% endblock %}
